.inspectorW {
  margin-top:30px;
}

.blockW {
  width:calc(100vw - 780px);
  display:flex;
  justify-content: center;
  margin-bottom:50px;
  .block {
    width:calc(100% - 100px);
    .header {
      font-size:24px;
      font-weight:300;
      background-color:#f5f5f5;
      width:100%;
      padding-top:5px;
      padding-bottom:5px;
      padding-left:30px;
      padding-right:30px;
    }
    .details {
      padding-top:10px;
      padding-left:30px;
      .elem_wrapper {
        padding-bottom:5px;
        display:flex;
      }
      .elem_label {
        width:80px;
        color:#777;
      }
    }
  }
}