.inspectorW {
  margin-top:30px;
  width:calc(100vw - 850px);
  margin-left:30px;
}

.blockW[data-focused="true"] {
  background-color: rgba(100,150,255, 0.15);
  .header {
    background-color: rgba(100,150,255, 0.85);
    color:white;
  }
}

.blockW[data-focused="false"] {
  background-color: white;
  .header {
    background-color:#f5f5f5;
    color:#333;
  }
}

.blockW {
  width:100%;
  display:flex;
  justify-content: center;
  margin-bottom:50px;
  transition:0.35s;
  
  // transition-delay:0.15s;
  .block {
    width:100%;
    
    .meta_input {
      width:60%;
      border:1px solid transparent;
      // border-bottom:1px solid #ccc;
      outline:0;
      background-color:rgba(0,0,0,0.05);
      transition:0.35s;
      border-radius:2px;
      padding-top:3px;
      padding-bottom:3px;
      padding-left:3px;
      padding-right:3px;
      font-size:16px;
      &:focus {
        // background-color:white;
        background-color:rgba(100,150,250,0.15);
        border-color: rgba(100,150,250,0.85);
        
      }
    }
    .header {
      
      transition:0.35s;
      font-size:24px;
      font-weight:300;
      
      width:100%;
      padding-top:5px;
      padding-bottom:5px;
      padding-left:30px;
      padding-right:30px;
    }
    .details {
      padding-top:10px;
      padding-left:30px;
      padding-bottom:20px;
      padding-right:20px;
      .elem_wrapper {
        padding-bottom:5px;
        display:flex;
      }
      .elem_label {
        width:180px;
        color:#777;
      }
    }
  }
}