#tableFunctionsW {
  width:calc(100vw - 480px);
  display:flex;
  justify-content: flex-end;
  height:40px;
  align-items: center;
  background-color:#f5f5f5;
  border-bottom:1px solid #CCC;
      // position:absolute;
      
      // right:00px;
      // top:-15px;
      #tableFunctionsC {
        display:flex;
        padding-right:30px;
        justify-content: flex-start;
        width:100%;
        padding-top:2px;
        .tableFunction[data-state="disabled"] {
          border-color:white;
          i, span {
            color:#ccc;
          }
          &:hover {
            cursor:not-allowed;
          }
        }
        .tableFunction[data-state="active"] {
          background-color:#555;
          // border-color:#555;
          padding-top:5px;
          padding-bottom:5px;
          padding-left:15px;
          padding-right:15px;
          
          i, span {
            color:white;
          }
          &:hover {
            cursor:pointer;
          }
        }
        .tableFunction[data-state="enabled"] {
          // background-color:#555;
          border-color:transparent;
          padding-top:5px;
          padding-bottom:5px;
          padding-left:15px;
          padding-right:15px;
          
          i, span {
            color:#333;
          }
          &:hover {
            cursor:pointer;
          }
        }
        .tableFunction {
          display:flex;
          align-items: center;
          // border-bottom:2px solid #ccc;
          background-color:transparent;
          transition:0.35s;
          padding-top:5px;
          padding-bottom:5px;
          padding-left:15px;
          padding-right:15px;
          border-radius:0px;
          margin-left:20px;
          margin-right:20px;
          font-size:13px;
          height:26px;
          border-radius:2px;
          i {
            padding-right:8px;
          }
        }
      }
    }

#contentW {
  position:fixed;
  top:50px;
  width:100%;
  height:calc(100vh - 50px);
  
}