.paneContentW {
  display:flex;
  position:relative;
  width:calc(100% - 720px);
  height:calc(100vh - 90px);
  
  overflow:overlay;
}

#jsonInput {
  width:300px;
  position:fixed;
  right:505px;
  top:100px;
  height:calc(50vh);
  // border-left:1px solid #ccc;
  display:none;
  flex-direction: column;
  align-items: center;
  .header {
    // position:absolute;
    // top:20px;
    // left:20px;
    margin-top:20px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    display:flex;
    // justify-content: center;
    font-size:14px;
    color:white;
    background-color:#555;
    width:95%;
  }
  textarea {
    padding:14px;
    // padding-top:60px;
    outline:0;
    width:95%;
    height:100%;
    border:1px solid #ccc;
    line-height: 20px;
    font-size:16px;
    resize:none;
    background-color:white;
    
    
  }
}