#metaW {
  height:64px;
  width:calc(100vw - 500px);
  padding-top:20px;
  margin-bottom:10px;
  #metaC {
    position:relative;
    width:100%;
    padding-left:50px;
    padding-right:50px;
    #meta {
      transition: 0.3s;
      padding:10px;
      width:calc(100vw - 450px - 100px);  
      .name {
        input {
          outline:0;
          border:none;
          font-size:20px;
          width:100%;
          background-color:transparent;
        }
      }
      .description {
        input {
          outline:0;
          border:none;
          font-size:14px;
          width:100%;
          background-color:transparent;
        }
      }
    }

    #meta[data-focused="true"] {
      background-color:#f5f5f5;
    }
    

  }
}