.paneW[data-selected="false"] {
  opacity:0;
  display:none;
}


.rightPaneW {
  width:480px;
  height:calc(100vh - 50px);
  position: fixed;
  right:0px;
  top:50px;
  z-index: 100;
  .rightPaneMenuW {
    border-bottom:1px solid #777;    
    width:100%;
    height:40px;
    display:flex;
    align-items: center;    
    padding-right:30px;
    background-color:#5a5a5a;      
    
    .rightPaneMenuC {
      padding-left:10px;
      .menu {
        width:100%;
        display:flex;
        .button {
          letter-spacing: 0.5px;
        }
        .button[data-state="disabled"] {
          background-color:rgba(255,255,255,0);
          color:#888;
          border-color:#888;

        }
        .button[data-selected="false"] {
          
          color:white;
          

        }
        .button[data-selected="true"] {
          color:White;          
          background-color:rgb(92, 114, 146);
          border-color:rgba(255,255,255,0.5);

        }
        .button {
          border:1px solid transparent;
          transition: 0.35s;
          margin-left:20px;
          font-size:12px;
          padding-top:4px;
          padding-bottom:4px;
          padding-left:14px;
          padding-right:14px;
          border-radius: 2px;
          &:hover {
            cursor:pointer;
          }
        }
      }
    }
  }
  .rightPaneC {
    width:100%;
    height:100%;    
    position:relative;
    display:flex;
    .lineNumBack {
      height:calc(100vh - 90px);
      position:absolute;
      left:-30px;            
      background-color:#5a5a5a;      
      width:30px;      
      top:0px;      
    }
      
    .jsonEditor {
      padding-top:0px;            
      background-color: #353535;
      color:white;
      height:100%;
      width:100%;
      .lineW {
        width:100%;
        min-height:30px;
        height:30px;
        position:relative;        
        // padding-top:2px;
        // padding-bottom:2px;
        transition: 0.1s;        
        display:flex;
        align-items: center;
      }
      .lineIndex {        
        // position:absolute;
        // left:-30px;
        // border:1px solid red;
        // font-family: monospace;
        height:100%;
        color:#ccc;
        display:flex;
        align-items: flex-start;
        justify-content: center;
        background-color:#5a5a5a;
        font-weight:bold;
        font-size:14px;
        width:30px;
        top:0px;
        padding-top:5px;
        // padding-bottom:2px;
      }
      .lineW[data-selected="true"] {
        background-color:rgba(211, 212, 255, 0.3);        
      }
      .line {
        z-index:100000;
        position:relative;
        margin-left:5px;
        padding-right:15px;
        height:100%;
        width:auto;
        display:flex;
        
        align-items: center;
        justify-content: flex-start;
        flex-wrap:wrap;
        .field[data-type="string"][data-focused="true"] {
          background-color:rgb(255, 255, 205);            
        }        
        .field[data-type="null"][data-focused="true"] {
          background-color:rgb(205, 249, 255);                      
        }
        .field[data-type="comment"][data-focused="true"] {
          color:rgb(7, 120, 135);            
          background-color: rgb(205, 249, 255);                      
        }
        .field[data-type="comment"][data-focused="false"] {
          color:rgb(205, 249, 255);                      
        }
        .field[data-type="colon"][data-focused="true"] {
          background-color:rgb(245, 205, 255);                      
        }
        .field[data-type="curly brackets"][data-focused="true"] {
          background-color:rgb(205, 255, 213);                      
        }   
        .field[data-type="square brackets"][data-focused="true"] {
          background-color:rgb(238, 205, 255);                      
        }   
        .field[data-type="comma"][data-focused="true"] {
          background-color:rgb(205, 211, 255);                      
        }   
        .field[data-focused="true"]      {
          color:black;
        }
        .field {
          transition:0.35s;
          font-size:16px;
          word-break:break-all;
          font-family: monospace;
          color:white;
          border-radius:2px;
          &:focus {
            outline:0;            
          }
        }                
      }      
    }    
  }
}
