#rightPaneW {
  width:450px;
  height:calc(100vh - 80px);
  position: fixed;
  right:0px;
  top:80px;
  z-index: 100;
  #rightPaneC {
    width:100%;
    height:100%;    
    position:relative;
    display:flex;
    
    #lineIndex {
      padding-top:0px;
      height:100%;
      background-color: #666;
      color:white;
      width:40px;
      display:flex;
      flex-direction: column;
      .line {
        padding-top:2px;
        padding-bottom:2px;
        display:flex;
        align-items: center;
        justify-content: center;
        span {
          font-size:16px;
          font-family: monospace;
        }
        
        
      }
    }    
    #jsonEditor {
      padding-top:0px;
      // padding-left:10px;
      // padding-right:30px;
      
      background-color: #353535;
      color:white;
      height:100%;
      width:100%;
      .lineW {
        width:100%;
        // height:30px;
        padding-top:2px;
        padding-bottom:2px;
        transition: 0.1s;
        // border:1px solid transparent;
        
      }
      .lineW[data-selected="true"] {
        background-color:rgba(211, 212, 255, 0.3);
        // border-color:#888;
      }
      .line {
        z-index:100000;
        position:relative;
        padding-left:5px;
        height:100%;
        width:100%;
        display:flex;
        align-items: center;
        justify-content: flex-start;
        .field[data-type="key"][data-focused="true"] {
          background-color:rgb(255, 255, 205);            
        }
        .field[data-type="value"][data-focused="true"] {
          background-color:rgb(205, 249, 255);            
          
        }
        .field[data-type="colon"][data-focused="true"] {
          background-color:rgb(245, 205, 255);            
          
        }
        .field[data-type="bracket"][data-focused="true"] {
          background-color:rgb(205, 255, 213);                      
        }   
        .field[data-type="comma"][data-focused="true"] {
          background-color:rgb(205, 211, 255);                      
        }   
        .field[data-focused="true"]      {
          color:black;
        }
        .field {
          transition:0.35s;
          font-size:16px;
          font-family: monospace;
          color:white;
          border-radius:2px;
          &:focus {
            outline:0;
            
          }
        }
        
        
      }
      
    }    
  }
}
