#transductionW {
  margin-left:30px;
}

#queryW {
  margin-top:20px;
  margin-bottom:10px;
  margin-left:20px;
  span {
    font-size:24px;
  }
}

#queryInputW {
  padding-left:20px;
  position:relative;
  height:70px;
  .submit {
    position:absolute;
    top:0;
    right:30px;
    height:100%;
    width:120px;
    display:flex;
    justify-content:center;
    align-items: center;
    font-size:16px;
    color:white;
    background-color: rgb(24, 100, 232);;
    z-index:1000;
  }
  input {
    outline:0;
    border:1px solid #555;
    font-size:20px;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:10px;
    padding-right:10px;
    width:calc(100% - 30px);
    border-radius:3px;
    transition: 0.35s;
    height:100%;
    &:focus {
      background-color: rgba(218, 233, 255, 0.5);
      border-color:rgb(42, 142, 218);
    }

  }
}

#labelsW {
  display:flex;
  

  margin-left:20px;
  margin-top:0px;
  margin-bottom:20px;
  padding:10px;
  .tooltip {
    display:inline-block;
    position:relative;
    // border-bottom:1px dotted #666;
    text-align:left;
    height:100%;
}

.tooltip h3 {margin:12px 0;}

.tooltip .bottom {
    min-width:300px;
    /*max-width:400px;*/
    top:40px;
    left:70%;
    transform:translate(-50%, 0);
    padding:20px;
    color:#666666;
    background-color:#EEEEEE;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
    opacity:0;
  }
  
  .tooltip:hover .bottom {
    display:block;
    opacity:1;
    transition: 0.35s;;
  }
  // .labelW:hover .bottom {
  //   display:block;
  //   opacity:1;
  //   transition: 0.35s;;
  // }
  
  .tooltip .bottom img {
    width:400px;
  }
  .tooltip p.blue {
    color:rgb(41, 85, 206);
    a {
      border-bottom:1px solid transparent;
      text-decoration: none;
      &:hover {
        border-color:rgb(41, 85, 206);
      }

    }
  }
  .tooltip p.black {
    color:rgb(30,30,30);
    
  }
  
  .tooltip .bottom i {
    position:absolute;
    bottom:100%;
    left:50%;
    margin-left:-40%;
    width:24px;
    height:12px;
    overflow:hidden;
  }
  
  .tooltip .bottom i::after {
    content:'';
    position:absolute;
    opacity:1;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:#EEEEEE;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}



  .labelW {
    margin-right:20px;
    position:relative;
    margin-left:20px;
    background-color:white;
    opacity:0;
    display:none;
    filter:drop-shadow(0px 4px 2px rgba(0,0,0,0.3));
    .label {
      background-color:rgba(255, 255, 172, .5);
      border:1px solid rgb(60,60,60);
      border-radius:3px;
      padding-left:15px;
      padding-right:60px;
      padding-top:8px;
      padding-bottom:8px;
      &:hover {
        cursor: pointer;
      }
    }
    .labelFeedback {
      background-color:white;
      position:absolute;
      top:0px;
      right:0px;
      width:50px;
      display:flex;
      height:100%;
      .labelFBButton.good i {
          color:rgb(27, 141, 88);
        }
      .labelFBButton.bad i {
          color:rgb(208, 35, 35);
        }
      .labelFBButton.bad  {
          
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }
      .labelFBButton.good  {
          border-left:1px solid rgb(60,60,60);
          
        }
      .labelFBButton {
        display:flex;
        justify-content: center;
        align-items: center;
        height:100%;
        width:100%;
        border-top:1px solid rgb(60,60,60);
        border-bottom:1px solid rgb(60,60,60);
        border-right:1px solid rgb(60,60,60);
        &:hover {
          cursor: pointer;
        }
        i {
          color:white;
        }
        
        
      }
    }
  }
}


#tableW {
  
  
  height:100%;
  width:100%;
  padding-left:50px;
  padding-right:50px;
  padding-top:30px;
  padding-bottom:10vh;
  #tableC {
    
    height:100%;
    width:100%;
    table {
      width:100%;
      // border:1px solid #333;
      border-collapse: collapse;
      #rowCol {
        background-color:#f5f5f5;
      }
      .rowNum {
        text-align: center;
      }
      .rowNum[data-focused="false"] {
        
        background-color:#f5f5f5;
      }
      tr, td, th {
        border-collapse: collapse;
        border:1px solid rgba(0,0,0,0.15);
        padding:10px;
      }
      th, td {
        transition: 0.35s;
        &:hover {
          cursor: pointer;
        }
      }
      th[data-focused="false"] {
        background-color:#f5f5f5;
      }
      th[data-focused="true"][data-type="key"] {
        background-color:rgb(255, 255, 205); 
        filter:drop-shadow(0px 4px 3px rgba(0,0,0,0.25));
      }
      th[data-focused="true"][data-type="array"] {
        background-color:rgb(238, 205, 255);
        filter:drop-shadow(0px 4px 3px rgba(0,0,0,0.25));
      }
      td.rowSelected.rowNum {
        background-color:rgb(205, 255, 213) !important;
      }
      td.rowSelected {
        background-color:rgba(205, 255, 213, 0.35) !important;
      }
      td.columnSelected {
        background-color:rgba(255, 255, 205, 0.35) !important;
      }
      .cellsSelected {
        background-color:rgba(238, 205, 255, 0.35) !important;
      }

      td[data-focused="false"] {
        background-color:#fff;
      }
      td[data-focused="true"][data-type="value"] {
        background-color:rgb(205, 249, 255);            
        filter:drop-shadow(0px 4px 3px rgba(0,0,0,0.25));
      }
      td[data-focused="true"][data-type="object"] {
        background-color:rgb(205, 255, 213);
        filter:drop-shadow(0px 4px 3px rgba(0,0,0,0.25));
      }
    }
  }
}