
#tableW {
  
  
  height:100%;
  width:calc(100% - 450px);
  padding-left:50px;
  padding-right:50px;
  padding-top:30px;
  padding-bottom:10vh;
  #tableC {
    
    height:100%;
    width:100%;
    table {
      width:100%;
      // border:1px solid #333;
      border-collapse: collapse;
      #rowCol {
        background-color:#f5f5f5 !important;
      }
      .rowNum {
        text-align: center;
        background-color:#f5f5f5 !important;
      }
      tr, td, th {
        border-collapse: collapse;
        border:1px solid rgba(0,0,0,0.15);
        padding:10px;
      }
      th, td {
        transition: 0.3s;
        &:hover {
          cursor: pointer;
        }
      }
      th[data-focused="false"] {
        background-color:#f5f5f5;
      }
      th[data-focused="true"][data-type="key"] {
        background-color:rgb(255, 255, 205); 
        filter:drop-shadow(0px 4px 3px rgba(0,0,0,0.25));
      }
      td[data-focused="false"] {
        background-color:#fff;
      }
      td[data-focused="true"][data-type="value"] {
        background-color:rgb(205, 249, 255);            
        filter:drop-shadow(0px 4px 3px rgba(0,0,0,0.25));
      }
      td.rowNum[data-focused="true"][data-type="object"] {
        background-color:rgb(205, 255, 213);
        filter:drop-shadow(0px 4px 3px rgba(0,0,0,0.25));
      }
      td.rowNum[data-focused="true"][data-type="array"] {
        background-color:rgb(238, 205, 255);
        filter:drop-shadow(0px 4px 3px rgba(0,0,0,0.25));
      }
    }
  }
}