#topnavW {
  display:inline-flex;
  align-items: center;
  z-index:1000;
  position:fixed;
  top:0px;
  left:0px;
  // padding-top:0px;
  padding-left:30px;
  background-color:white;
  width:100%;
  height:50px;
  filter:drop-shadow(0px 3px 2px rgba(0,0,0,0.25));
  
  img {
    height:36px;
    width:36px;
    
  }
  #logo {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:130px;
    height:36px;
    
    background-color:#E42323;
    // border-left:1px solid white;
    span.header {
      color:white;
      font-size:16px;
      font-weight:400;
      // margin-bottom:5px;
      
    }
    span.subHeader {
      font-size:14px;
      font-weight:500;
      color:#555;
    }

  }

}

#buttonsW {
  width:100%;
  display:flex;
  justify-content: flex-end;
  // position:fixed;
  // top:10px;
  height:50px;
  align-items: center;
  // right:50px;
  #buttonsC {
    display:flex;
    padding-right:0px;
    .button {
      margin-left:10px;
      letter-spacing: 0.5px;
      margin-right:10px;
      font-size:14px;
      // background-color:rgb(29, 132, 221);
      // color:white;
      padding-left:20px;
      padding-right:20px;
      padding-top:10px;
      padding-bottom:10px;
      text-decoration: none;
      border-radius:3px;
      display:flex;
      align-items: center;
      span {
        color:#555;
      }
      i {
        margin-right:8px;
        color:#555;
        font-size:20px;
      }
      &:hover {
        cursor:pointer;
      }
    }

  }
}