.paneW(data-view="array" data-selected="true") 
  .pane
    //- .lineW(data-selected="true" data-line_num="1")
    //-   .lineIndex 1
    //-   .line(data-indent="0" )
    //-     .field(contenteditable="true" data-type="object" data-focused="false"  data-field_num="0") &nbsp;     
    