//- #metaW 
//-   #metaC
//-     #meta(data-focused="false")
//-       .name 
//-         input(placeholder="Table name (ex: Pets)" value="Pets")
//-       .description 
//-         input(placeholder="Table name (ex: Animals adopted by humans)" value="Animals adopted by humans")
#queryW 
  .query 
    span What is the patient's health problem?
#queryInputW
  input(placeholder="Type to see labels")
#labelsW(contenteditable="true")  
  .labelW       
    .tooltip
      .label Planetphobia
        .labelClose 
          i.fal.fa-times-circle
      .bottom        
        h3 Planetphobia
        p.bold.blue 
          a(href="#") Problems 
          span > 
          a(href="#") Health 
          span > 
          a(href="#") Medical
        p Whether or not a person believes the planet is going to hit by a giant asteroid imminently and are so terrified they are trying to go to Mars with Elon Musk
        i
  .labelW   
    .tooltip
      .label Social Media Madness
        .labelClose 
          i.fal.fa-times-circle
      .bottom        
        h3 Planetphobia
        p.bold.blue 
          a(href="#") Problems 
          span > 
          a(href="#") Health 
          span > 
          a(href="#") Medical
        p Whether a person starts believing social media conspiracies after being on Facebook for too long during Covid quarantine
        i
    
      
#tableW
  #tableC 
    #table
      table 
        thead 
          tr 
            th(data-line_num="6" data-field_num="0" data-focused="false" data-type="array" data-col_id="0")#allCells &nbsp; 
            th(data-line_num="10" data-field_num="2" data-focused="false" data-type="key" data-col_id="1").columnNum Planetphobia 
            th(data-line_num="18" data-field_num="2" data-focused="false" data-type="key" data-col_id="2").columnNum Social Media Madness
            th(data-line_num="18" data-field_num="2" data-focused="false" data-type="key" data-col_id="2").columnNum Spontaneous Combustion
            
        tbody 
          tr 
            td(data-focused="false" data-line_num="7", data-field_num="0" data-type="object").rowNum 1
            td(data-focused="false" data-line_num="11", data-field_num="2" data-type="value") True
            td(data-focused="false" data-line_num="19", data-field_num="2" data-type="value") False
            td(data-focused="false" data-line_num="19", data-field_num="2" data-type="value") Undefined                  
          tr 
            td(data-focused="false" data-line_num="7", data-field_num="0" data-type="object").rowNum 1
            td(data-focused="false" data-line_num="11", data-field_num="2" data-type="value") Undefined
            td(data-focused="false" data-line_num="19", data-field_num="2" data-type="value") Undefined                   
            td(data-focused="false" data-line_num="19", data-field_num="2" data-type="value") Null                   

          