//- #metaW 
//-   #metaC
//-     #meta(data-focused="false")
//-       .name 
//-         input(placeholder="Table name (ex: Pets)" value="Pets")
//-       .description 
//-         input(placeholder="Table name (ex: Animals adopted by humans)" value="Animals adopted by humans")
#transductionW
  #queryW 
    .query 
      span What is the patient's status? (Query to human \ Env state change)
  #queryInputW
    input(placeholder="Type to see labels (Query / Interaction state change to augmented intelligence system)" autocomplete="no" data-schema_id="6")
    .submit SUBMIT
  #labelsW  
    .labelW(data-schema_id="135")       
      .tooltip
        .label Planetphobia
        .labelFeedback
          .labelFBButton.good
            i.fas.fa-check-circle
          .labelFBButton.bad 
            i.fas.fa-times-circle
        .bottom        
          h3 Planetphobia
          p.bold.blue 
            a(href="#") Problems 
            span > 
            a(href="#") Health 
            span > 
            a(href="/problems/health/medical") Medical
          p.bold.black SCHEMA ID 135
          p Whether or not a person believes the planet is going to hit by a giant asteroid imminently and are so terrified they are trying to go to Mars with Elon Musk
          i
    .labelW(data-schema_id="147")          
      .tooltip
        .label Social Media Madness
          .labelFeedback
            .labelFBButton.good
              i.fas.fa-check-circle
            .labelFBButton.bad 
              i.fas.fa-times-circle
        .bottom        
          h3 Social Media Madness
          p.bold.blue 
            a(href="#") Problems 
            span > 
            a(href="#") Health 
            span > 
            a(href="/problems/health/medical") Medical
          p.bold.black SCHEMA ID 147
          p Whether a person starts believing social media conspiracies after being on Facebook for too long during Covid quarantine
          i
    .labelW(data-schema_id="159")          
      .tooltip
        .label Spontaneous Combustion
          .labelFeedback
            .labelFBButton.good
              i.fas.fa-check-circle
            .labelFBButton.bad 
              i.fas.fa-times-circle
        .bottom        
          h3 Spontaneous Combustion
          p.bold.blue 
            a(href="#") Problems 
            span > 
            a(href="#") Health 
            span > 
            a(href="/problems/health/medical") Medical
          p Whether a person starts believing social media conspiracies after being on Facebook for too long during Covid quarantine
          i
      
    .labelW(data-schema_id="215")          
      .tooltip      
        .label Threat Perception
          .labelFeedback
            .labelFBButton.good
              i.fas.fa-check-circle
            .labelFBButton.bad 
              i.fas.fa-times-circle        
        .bottom        
          h3 Threat Perception
          p.bold.blue 
            a(href="#") Influence 
            span > 
            a(href="#") Eating 
            span > 
            a(href="#") Notifications
          p.bold.black SCHEMA ID 215
          p A fear based notification to influence healthier eating habits
          i
      
    .labelW(data-schema_id="251")          
      .tooltip      
        .label Started Exercising
          .labelFeedback
            .labelFBButton.good
              i.fas.fa-check-circle
            .labelFBButton.bad 
              i.fas.fa-times-circle        
        .bottom        
          h3 Started Exercising
          p.bold.blue 
            a(href="#") Influence 
            span > 
            a(href="#") Eating 
            span > 
            a(href="#") Notifications
          p.bold.black SCHEMA ID 251
          p Patient has made the desired behavioral change outcome
          i
      
      
#tableW
  #tableC 
    #table
      table 
        thead 
          tr 
            th(data-line_num="6" data-field_num="0" data-focused="false" data-type="array" data-col_id="0")#allCells &nbsp; 
            th(data-line_num="10" data-field_num="1" data-focused="false" data-type="key" data-col_id="1").columnNum 
              .tooltip 
                .header Patient's status 
                .bottom        
                  h3 Patient's status
                  p.bold.blue                             
                    a(href="#") Queries to Humans 
                    span > 
                    a(href="#") Mental Health                                          
                  p.bold.black SCHEMA ID 6
                  p Asks what a patient's problem is
                  i            
            th(data-line_num="10" data-field_num="1" data-focused="false" data-type="key" data-col_id="1").columnNum 
              .tooltip 
                .header Patient's status 
                .bottom        
                  h3 Patient's status
                  p.bold.blue                             
                    a(href="#") Queries to Humans 
                    span > 
                    a(href="#") Oral Health 
                  p.bold.black SCHEMA ID 12
                  p Asks what a patient's problem is
                  i            
            th(data-line_num="10" data-field_num="2" data-focused="false" data-type="key" data-col_id="1").columnNum 
              .tooltip 
                .header Planetphobia 
                .bottom        
                  h3 Planetphobia
                  p.bold.blue 
                    a(href="#") Problems 
                    span > 
                    a(href="#") Health 
                    span > 
                    a(href="/problems/health/medical") Medical
                  p.bold.black SCHEMA ID 135
                  p Whether a person starts believing social media conspiracies after being on Facebook for too long during Covid quarantine
                  i
            
            th(data-line_num="18" data-field_num="2" data-focused="false" data-type="key" data-col_id="2").columnNum 
              .tooltip 
                .header Social Media Madness 
                .bottom        
                  h3 Social Media Madness
                  p.bold.blue 
                    a(href="#") Problems 
                    span > 
                    a(href="#") Health 
                    span > 
                    a(href="/problems/health/medical") Medical
                  p.bold.black SCHEMA ID 147
                  p Whether or not a person believes the planet is going to hit by a giant asteroid imminently and are so terrified they are trying to go to Mars with Elon Musk
                  i
            th(data-line_num="18" data-field_num="2" data-focused="false" data-type="key" data-col_id="2").columnNum 
              .tooltip
                .header Spontaneous Combustion 
                .bottom        
                  h3 Spontaneous Combustion
                  p.bold.blue 
                    a(href="#") Problems 
                    span > 
                    a(href="#") Health 
                    span > 
                    a(href="/problems/health/medical") Medical
                  p.bold.black SCHEMA ID 159
                  p When a person spontaneously and unexpectedly burts into flames
                  i
            th(data-line_num="18" data-field_num="2" data-focused="false" data-type="key" data-col_id="2").columnNum 
              .tooltip
                .header Threat Perception
                .bottom        
                  h3 Threat Perception
                  p.bold.blue 
                    a(href="#") Influence 
                    span > 
                    a(href="#") Eating 
                    span > 
                    a(href="#") Notifications
                  p.bold.black SCHEMA ID 215
                  p A fear based notification to influence healthier eating habits
                  i
            th(data-line_num="18" data-field_num="2" data-focused="false" data-type="key" data-col_id="2").columnNum 
              .tooltip
                .header Started Exercising
                .bottom        
                  h3 Started Exercising
                  p.bold.blue 
                    a(href="#") Outcomes 
                    span > 
                    a(href="#") Behavior 
                    span > 
                    a(href="#") Exercise
                  p.bold.black SCHEMA ID 251
                  p Patient has made the change to start exercising to improve their health
                  i
              
            
        tbody 
          tr 
            td(data-focused="false" data-line_num="7", data-field_num="0" data-type="object").rowNum 1
            td(data-focused="false" data-line_num="11", data-field_num="2" data-type="value") True
            td(data-focused="false" data-line_num="11", data-field_num="2" data-type="value") False
            td(data-focused="false" data-line_num="11", data-field_num="2" data-type="value") True
            td(data-focused="false" data-line_num="19", data-field_num="2" data-type="value") False
            td(data-focused="false" data-line_num="19", data-field_num="2" data-type="value") Undefined                  
            td(data-focused="false" data-line_num="19", data-field_num="2" data-type="value") Null
            td(data-focused="false" data-line_num="19", data-field_num="2" data-type="value") Null
          tr 
            td(data-focused="false" data-line_num="7", data-field_num="0" data-type="object").rowNum 2
            td(data-focused="false" data-line_num="11", data-field_num="2" data-type="value") True
            td(data-focused="false" data-line_num="11", data-field_num="2" data-type="value") False
            td(data-focused="false" data-line_num="11", data-field_num="2" data-type="value") Undefined
            td(data-focused="false" data-line_num="19", data-field_num="2" data-type="value") Undefined                   
            td(data-focused="false" data-line_num="19", data-field_num="2" data-type="value") Null                   
            td(data-focused="false" data-line_num="19", data-field_num="2" data-type="value") Null
            td(data-focused="false" data-line_num="19", data-field_num="2" data-type="value") Null

          