#rightPaneW
  #rightPaneMenuW
    #rightPaneMenuC 
      .menu
        .button(data-state="selected") TABLE
        .button(data-state="disabled") JSON
        .button(data-state="disabled") API
        .button(data-state="disabled") SCHEMA
        
        
  #rightPaneC  
    #lineNumBack   
    #jsonEditor
      .lineW(data-selected="true" data-line_num="1")
        .lineIndex 1
        .line(data-indent="0" )
          .field(contenteditable="true" data-type="object" data-focused="true"  data-field_num="0") {      
      .lineW(data-selected="false" data-line_num="2")
        .lineIndex 2
        .line(data-indent="1")
          .field(contenteditable="true" data-type="key" data-focused="false"  data-field_num="0") "@table"   
          .field(contenteditable="true" data-type="colon" data-focused="false"  data-field_num="1") :
          .field(contenteditable="true" data-type="object" data-focused="false"  data-field_num="2") {      
      .lineW(data-selected="false" data-line_num="3")
        .lineIndex 3
        .line(data-indent="2")
          .field(contenteditable="true" data-type="key" data-focused="false"  data-field_num="0") "label"   
          .field(contenteditable="true" data-type="colon" data-focused="false"  data-field_num="1") :
          .field(contenteditable="true" data-type="value" data-focused="false"  data-field_num="2") "Pets"
          .field(contenteditable="true" data-type="comma" data-focused="false"  data-field_num="3") ,
      .lineW(data-selected="false" data-line_num="4")
        .lineIndex 4
        .line(data-indent="2")
          .field(contenteditable="true" data-type="key" data-focused="false"  data-field_num="0") "description"   
          .field(contenteditable="true" data-type="colon" data-focused="false"  data-field_num="1") :
          .field(contenteditable="true" data-type="value" data-focused="false"  data-field_num="2") "Animals adopted by humans"
      .lineW(data-selected="false" data-line_num="5")
        .lineIndex 5
        .line(data-indent="1")
          .field(contenteditable="true" data-type="object" data-focused="false"  data-field_num="0") }
          .field(contenteditable="true" data-type="comma" data-focused="false"  data-field_num="1") ,
      .lineW(data-selected="false" data-line_num="6")
        .lineIndex 6
        .line(data-indent="1")
          .field(contenteditable="true" data-type="key" data-focused="false"  data-field_num="0") "@rows"
          .field(contenteditable="true" data-type="colon" data-focused="false"  data-field_num="1") :
          .field(contenteditable="true" data-type="array" data-focused="false"  data-field_num="2") [       
      .lineW(data-selected="false" data-line_num="7")
        .lineIndex 7
        .line(data-indent="2")
          .field(contenteditable="true" data-type="object" data-focused="false"  data-field_num="0") {          
      .lineW(data-selected="false" data-line_num="8")
        .lineIndex 8
        .line(data-indent="3")
          .field(contenteditable="true" data-type="key" data-focused="false" data-field_num="0") "@columns"
          .field(contenteditable="true" data-type="colon" data-focused="false"  data-field_num="1") :
          .field(contenteditable="true" data-type="array" data-focused="false"  data-field_num="2") [
      .lineW(data-selected="false" data-line_num="9")
        .lineIndex 9
        .line(data-indent="4")
          .field(contenteditable="true" data-type="object" data-focused="false" data-field_num="0") {
          
      .lineW(data-selected="false" data-line_num="10")
        .lineIndex 10
        .line(data-indent="5")
          .field(contenteditable="true" data-type="key" data-focused="false" data-field_num="0") "key"
          .field(contenteditable="true" data-type="colon" data-focused="false"  data-field_num="1") :
          .field(contenteditable="true" data-type="object" data-focused="false"  data-field_num="2") "Species"
          .field(contenteditable="true" data-type="comma" data-focused="false"  data-field_num="3") ,
      .lineW(data-selected="false" data-line_num="11")
        .lineIndex 11
        .line(data-indent="5")
          .field(contenteditable="true" data-type="key" data-focused="false" data-field_num="0") "value"
          .field(contenteditable="true" data-type="colon" data-focused="false"  data-field_num="1") :
          .field(contenteditable="true" data-type="object" data-focused="false"  data-field_num="2") "Dog"
          .field(contenteditable="true" data-type="comma" data-focused="false"  data-field_num="3") ,
      .lineW(data-selected="false" data-line_num="12")
        .lineIndex 12
        .line(data-indent="5")
          .field(contenteditable="true" data-type="key" data-focused="false" data-field_num="0") "path"
          .field(contenteditable="true" data-type="colon" data-focused="false"  data-field_num="1") :
          .field(contenteditable="true" data-type="object" data-focused="false"  data-field_num="2") "*.species"
          .field(contenteditable="true" data-type="comma" data-focused="false"  data-field_num="3") ,
      .lineW(data-selected="false" data-line_num="13")
        .lineIndex 13
        .line(data-indent="5")
          .field(contenteditable="true" data-type="key" data-focused="false" data-field_num="0") "type"
          .field(contenteditable="true" data-type="colon" data-focused="false"  data-field_num="1") :
          .field(contenteditable="true" data-type="value" data-focused="false"  data-field_num="2") "string"
          .field(contenteditable="true" data-type="comma" data-focused="false"  data-field_num="3") ,
      .lineW(data-selected="false" data-line_num="14")
        .lineIndex 14
        .line(data-indent="5")
          .field(contenteditable="true" data-type="key" data-focused="false" data-field_num="0") "id"
          .field(contenteditable="true" data-type="colon" data-focused="false"  data-field_num="1") :
          .field(contenteditable="true" data-type="value" data-focused="false"  data-field_num="2") null
          .field(contenteditable="true" data-type="comma" data-focused="false"  data-field_num="3") ,
      .lineW(data-selected="false" data-line_num="15")
        .lineIndex 15
        .line(data-indent="5")
          .field(contenteditable="true" data-type="key" data-focused="false" data-field_num="0") "url"
          .field(contenteditable="true" data-type="colon" data-focused="false"  data-field_num="1") :
          .field(contenteditable="true" data-type="value" data-focused="false"  data-field_num="2") "https://en.wikipedia.org/wiki/Species"
      .lineW(data-selected="false" data-line_num="16")
        .lineIndex 16
        .line(data-indent="4")
          .field(contenteditable="true" data-type="array" data-focused="false" data-field_num="0") }          
          .field(contenteditable="true" data-type="comma" data-focused="false" data-field_num="1") ,
      .lineW(data-selected="false" data-line_num="17")
        .lineIndex 17
        .line(data-indent="4")
          .field(contenteditable="true" data-type="object" data-focused="false" data-field_num="0") {
          
      .lineW(data-selected="false" data-line_num="18")
        .lineIndex 18
        .line(data-indent="5")
          .field(contenteditable="true" data-type="key" data-focused="false" data-field_num="0") "key"
          .field(contenteditable="true" data-type="colon" data-focused="false"  data-field_num="1") :
          .field(contenteditable="true" data-type="object" data-focused="false"  data-field_num="2") "Barks"
          .field(contenteditable="true" data-type="comma" data-focused="false"  data-field_num="3") ,
      .lineW(data-selected="false" data-line_num="19")
        .lineIndex 19
        .line(data-indent="5")
          .field(contenteditable="true" data-type="key" data-focused="false" data-field_num="0") "value"
          .field(contenteditable="true" data-type="colon" data-focused="false"  data-field_num="1") :
          .field(contenteditable="true" data-type="object" data-focused="false"  data-field_num="2") "true"
          .field(contenteditable="true" data-type="comma" data-focused="false"  data-field_num="3") ,
      .lineW(data-selected="false" data-line_num="20")
        .lineIndex 20
        .line(data-indent="5")
          .field(contenteditable="true" data-type="key" data-focused="false" data-field_num="0") "path"
          .field(contenteditable="true" data-type="colon" data-focused="false"  data-field_num="1") :
          .field(contenteditable="true" data-type="object" data-focused="false"  data-field_num="2") "*.sounds.barks"
          .field(contenteditable="true" data-type="comma" data-focused="false"  data-field_num="3") ,
      .lineW(data-selected="false" data-line_num="21")
        .lineIndex 21
        .line(data-indent="5")
          .field(contenteditable="true" data-type="key" data-focused="false" data-field_num="0") "type"
          .field(contenteditable="true" data-type="colon" data-focused="false"  data-field_num="1") :
          .field(contenteditable="true" data-type="value" data-focused="false"  data-field_num="2") "boolean"
          .field(contenteditable="true" data-type="comma" data-focused="false"  data-field_num="3") ,
      .lineW(data-selected="false" data-line_num="22")
        .lineIndex 22
        .line(data-indent="5")
          .field(contenteditable="true" data-type="key" data-focused="false" data-field_num="0") "id"
          .field(contenteditable="true" data-type="colon" data-focused="false"  data-field_num="1") :
          .field(contenteditable="true" data-type="value" data-focused="false"  data-field_num="2") null
          .field(contenteditable="true" data-type="comma" data-focused="false"  data-field_num="3") ,
      .lineW(data-selected="false" data-line_num="23")
        .lineIndex 23
        .line(data-indent="5")
          .field(contenteditable="true" data-type="key" data-focused="false" data-field_num="0") "url"
          .field(contenteditable="true" data-type="colon" data-focused="false"  data-field_num="1") :
          .field(contenteditable="true" data-type="value" data-focused="false"  data-field_num="2") "https://en.wikipedia.org/wiki/Bark_(sound)"
      .lineW(data-selected="false" data-line_num="24")
        .lineIndex 24
        .line(data-indent="4")
          .field(contenteditable="true" data-type="array" data-focused="false" data-field_num="0") }                    
      .lineW(data-selected="false" data-line_num="25")
        .lineIndex 25
        .line(data-indent="3")
          .field(contenteditable="true" data-type="array" data-focused="false" data-field_num="0") ]
               
      .lineW(data-selected="false" data-line_num="26")
        .lineIndex 26
        .line(data-indent="2")
          .field(contenteditable="true" data-type="object" data-focused="false" data-field_num="0") }
      .lineW(data-selected="false" data-line_num="27")
        .lineIndex 27
        .line(data-indent="1")
          .field(contenteditable="true" data-type="array" data-focused="false" data-field_num="0") ]
      .lineW(data-selected="false" data-line_num="28")
        .lineIndex 28
        .line(data-indent="0")
          .field(contenteditable="true" data-type="object" data-focused="false" data-field_num="0") }
          
          