#contentW
  include ./rightPane.pug
  #tableFunctionsW 
    #tableFunctionsC 
      .tableFunction(data-state="active")
        i.fal.fa-table
        span TABLE
      .tableFunction(data-state="disabled") 
        i.fal.fa-list
        span LIST
      .tableFunction(data-state="disabled")  
        i.fal.fa-list-alt
        span FORM
      .tableFunction(data-state="disabled")  
        i.fal.fa-sparkles
        span EVENTS
  #metaW 
    #metaC
      #meta(data-focused="false")
        .name 
          input(placeholder="Table name (ex: Pets)" value="Pets")
        .description 
          input(placeholder="Table name (ex: Animals adopted by humans)" value="Animals adopted by humans")
  #tableW
    #tableC 
      #table
        table 
          thead 
            tr 
              th(data-line_num="1" data-field_num="0" data-focused="false" data-type="array" data-col_id="0")#allCells &nbsp; 
              th(data-line_num="3" data-field_num="0" data-focused="false" data-type="key" data-col_id="1").columnNum col1 
              th(data-line_num="4" data-field_num="0" data-focused="false" data-type="key" data-col_id="2").columnNum col2 
              th(data-line_num="5" data-field_num="0" data-focused="false" data-type="key" data-col_id="3").columnNum col3
          tbody 
            tr 
              td(data-focused="false" data-line_num="2", data-field_num="0" data-type="object").rowNum 1
              td(data-focused="false" data-line_num="3", data-field_num="2" data-type="value") val1
              td(data-focused="false" data-line_num="4", data-field_num="2" data-type="value") val2
              td(data-focused="false" data-line_num="5", data-field_num="2" data-type="value") val3
            tr 
              td(data-focused="false" data-line_num="7", data-field_num="0" data-type="object").rowNum 2
              td(data-focused="false" data-line_num="8", data-field_num="2" data-type="value") val4
              td(data-focused="false" data-line_num="9", data-field_num="2" data-type="value") val5
              td(data-focused="false" data-line_num="10", data-field_num="2" data-type="value") val6

