#contentW
  .viewW#tableView(data-state="hidden")
    include ./table/rightPane.pug                       
    include ./table/content.pug                       
  .viewW#jsonView(data-state="visible")
    include ./json/rightPane.pug
    include ./json/content.pug
    