#contentW
  #tableFunctionsW 
    #tableFunctionsC 
      .tableFunction(data-state="active") 
        i.fal.fa-brackets-curly
        span JSON
      .tableFunction(data-state="enabled")
        i.fal.fa-table
        span TABLE
      .tableFunction(data-state="enabled")  
        i.fal.fa-list-alt
        span FORM
      .tableFunction(data-state="enabled")  
        i.fal.fa-sparkles
        span OBSERVABLE
      .tableFunction(data-state="enabled")  
        i.fal.fa-link
        span COMBINATOR
      .tableFunction(data-state="enabled")  
        i.fal.fa-chart-bar
        span VISUALIZE
      .tableFunction(data-state="enabled")  
        i.fal.fa-chart-bar
        span API
  //- .viewW#tableView(data-state="hidden")
  //-   include ./table/rightPane.pug                       
  //-   include ./table/content.pug                       
  .viewW#jsonView(data-state="selected")
    include ./json/rightPane.pug
    include ./json/content.pug
    