#contentW
  #tableFunctionsW 
    #tableFunctionsC 
      .tableFunction(data-state="active") 
        i.fal.fa-brackets-curly
        span JSON-HD
      .tableFunction(data-state="enabled")
        i.fal.fa-table
        span TABLE-HD
      .tableFunction(data-state="enabled")  
        i.fal.fa-list-alt
        span FORM-HD
      .tableFunction(data-state="enabled")  
        i.fal.fa-sparkles
        span OBSERVABLE-HD
      .tableFunction(data-state="enabled")  
        i.fal.fa-chart-bar
        span VISUALIZE-HD
      .tableFunction(data-state="enabled")  
        i.fal.fa-chart-bar
        span API-HD
  .viewW#tableView(data-state="hidden")
    include ./table/rightPane.pug                       
    include ./table/content.pug                       
  .viewW#jsonView(data-state="visible")
    include ./json/rightPane.pug
    include ./json/content.pug
    