extends layout

block content  
  #topnavW 
    img(src="/images/favicon.png")
    #logo 
      span.header HyperData.js
      span.subHeader Metadata management with JSON tables (Apache 2.0)
    #buttonsW 
      #buttonsC 
        //- .button#json 
        //-   i.fal.fa-brackets-curly
        //-   span JSON
        a(target="_blank" href="https://github.com/RonItelman/hyperdatajs").button#code 
          i.fab.fa-github
          span GET
  #contentW
    include ./rightPane.pug
    #metaW 
      #metaC         
        .name Pets
        .description Animals adopted by humans
    #tableW
      #tableC 
        #table
          table 
            thead 
              tr 
                th col1 
            tbody 
              tr 
                td val1

