extends layout

block content
  #topnavW 
    img(src="/images/favicon.png")
    #logo 
      span.header HyperData.js
      span.subHeader Turn JSON into a flat table  
    #buttonsW 
      #buttonsC 
        .button JSON
        .button CODE
  #tableW
    #tableC 
      #table
        table 
          thead 
            tr 
              th col1 
          tbody 
            tr 
              td val1

