extends layout

block content  
  #topnavW 
    img(src="/images/favicon.png")
    #logo 
      span.header HyperData JS
      span.subHeader Intelligent Metadata Paradigm (Apache 2.0)
    #buttonsW 
      #buttonsC         
        a(target="_blank" href="https://github.com/RonItelman/hyperdatajs").button#code 
          i.fab.fa-github
          span GET
  include ./content.pug