doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/fa_all.css')     
    script(src="/javascripts/gsap/gsap.min.js")    
    script.
      let hyperdata = {
        editor:{},
        table:{}
      }
      window.hyperdata = hyperdata;
      let hyper = window.hyperdata;
    
  body
    block content

  script(src="/javascripts/hyperdata/editor.js")
  script(src="/javascripts/hyperdata/table.js")
  script.
    hyper.editor.initEditor("#jsonEditor");
    hyper.table.initTable({parent_elem_id: "#tableW"});
