doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/fa_all.css')     
    script(src="/javascripts/gsap/gsap.min.js")    
    script.
      let hyperdata = {
        views: {
          json:{
            array:{}, //handles the array tab in the JSON-HD editor
            elems:{}, //handles pointers to HTML elems
            init:{}, //initializes the libraries in order
            object:{},
            editor:{},
            inspector:{},
            input:{} //handles the json input,            

          }
        },
        editor:{},        
        table:{}
      }
      window.hyperdata = hyperdata;
      let hyper = window.hyperdata;
    
  body
    block content

  script(src="/javascripts/hyperdata/views/json/init.js")
  script(src="/javascripts/hyperdata/views/json/elems.js")
  script(src="/javascripts/hyperdata/views/json/object.js")
  script(src="/javascripts/hyperdata/views/json/input.js")
  script(src="/javascripts/hyperdata/views/json/array.js")
  script(src="/javascripts/hyperdata/views/json/inspector.js")
  script(src="/javascripts/hyperdata/views/json/editor.js")
  //- script(src="/javascripts/hyperdata/editor.js")
  //- script(src="/javascripts/hyperdata/views/json/editor.js")
  //- script(src="/javascripts/hyperdata/table.js")
  script.
    hyper.views.json.init();
    //- hyper.editor.initEditor(".jsonEditor");
    //- hyper.table.initTable({parent_elem_id: "#tableView #tableW"});
