#rightPaneW
  #rightPaneC 
    #linePointer
    #lineIndex
      .line
        span 1
      .line
        span 2
      .line
        span 3
      .line
        span 4
    #jsonEditor
      .line(data-indent="0")
        span {
      .line(data-indent="1")
        span "col1":"val1"      
      .line(data-indent="0")
        span }

