#rightPaneW
  #rightPaneC 
    pre
      |  {
      |   "rows":[
      |     {
      |       "pets": {
      |         "name":"Leo"
      |         "@name":{
      |           "id":2,
      |           "type":"string"
      |           "description":"The name the owner gave the pet",
      |         }
      |       },
      |       "@pets": {
      |           "id":1,
      |           "type":"object"
      |           "description":"Animals adopted by humans",
      |         }
      |       }
      |     }
      |   ]
      |  }