#rightPaneW
  #rightPaneC 
    pre
      |  {
      |    "meta": {
      |     "name":"My First Table",
      |     "description":"Hello World of HyperData.js"
      |   },
      |   "rows":[
      |     {
      |       "pets": {
      |         "name":"Leo"
      |       }
      |     }
      |   ]
      |  }