#jsonMeta 
  input(type="hidden")#jsonMetaInput

#tableFunctionsW 
  #tableFunctionsC 
    .tableFunction(data-state="disabled")
      i.fal.fa-table
      span INPUT
    .tableFunction(data-state="active") 
      i.fal.fa-brackets-curly
      span JSON
    .tableFunction(data-state="disabled")  
      i.fal.fa-list-alt
      span FORM
    .tableFunction(data-state="disabled")  
      i.fal.fa-sparkles
      span EVENTS
#jsonContentW
  #jsonInspector 
    .inspectorW 
      .inspector 
        span BLOCK 1
  #jsonInput 
    textarea(placeholder="Input JSON")