#jsonMeta 
  input(type="hidden")#jsonMetaInput
  input(type="hidden")#jsonMetaArray
#jsonContentW
  .jsonInspector 
    .inspectorW 
      .inspector         
  #jsonInput 
    .header Convert JSON To JSON-HD
    textarea(placeholder="Input JSON")
      |{ 
      |     "hello":"world",
      |     "\"foo\"":"bar",
      |     "my_object":{
      |         "my_array": [
      |             1,
      |             null,
      |             {"my_key":"my_value"}
      |         ]
      |     }
      | }