#jsonMeta 
  input(type="hidden")#jsonMetaInput
  input(type="hidden")#jsonMetaArray
.paneContentW#jsonContentW
  .jsonInspector 
    .inspectorW 
      .inspector         
  #jsonInput 
    .header Convert JSON To JSON-HD
    textarea(placeholder="Input JSON")#jsonTextArea

  script.
    window.JSON_IMPORT = {
      "Queries To Humans": {
        "@type":"Object",
        "@description":"Questions to users",
        "Mental Health": {
          "Patient's problem?": {
          "@type":"Label",
          "@description":"Asks what a patient's problem is in a mental health context",
          }
        },        
        "Oral Health": {
          "Patient's problem?": {
          "@type":"Label",
          "@description":"Asks what a patient's problem is in an oral health context",
          }
        }        
      },
      "Problems": {
        "@type":"Object",
        "@description":"Problems at any given moment of a person",
        "Health":{
          "@type":"Object",
          "@description":"Relating to physical health of a person",
          "Condition":{
            "@type":"Object",            
            "@description":"How in shape a person is on a scale of 1-5",
            "Range":{
              "1":{
                "@type":"Label",
                "@description":"Very bad"
              },
              "2":{
                "@type":"Label",
                "@description":"Bad"
              },
              "3":{
                "@type":"Label",
                "@description":"Okay"
              },
              "4":{
                "@type":"Label",
                "@description":"Good"
              },
              "5":{
                "@type":"Label",
                "@description":"Very Good"
              }
            }
          },
          "Medical Issues":{
            "@type":"Object",
            "@description":"Any medical issues",
            "Planetphobia": {
              "@type":"Label",
              "@description":"Whether or not a person believes the planet is going to hit by a giant asteroid imminently and are so terrified they are trying to go to Mars with Elon Musk"
            },
            "Social Media Madness": {
              "@type":"Label",
              "@description":"Whether a person starts believing social media conspiracies after being on Facebook for too long during Covid quarantine"
            },
            "Spontaneous Combustion": {
              "@type":"Label",
              "@description":"When a person spontaneously and unexpectedly burts into flames"
            }
          }
        },
        "Influence": {
          "@type":"Object",
          "@description":"Influencing behavior",
          "Eating":{
            "@type":"Object",
            "@description":"Influencing behavior related to eating",
            "Fear":{
              "@type":"Label",
              "@description":"A fear based message to influence eating behavior"
            }
          }
        }
        
      }
    }