#jsonMeta 
  input(type="hidden")#jsonMetaInput
  input(type="hidden")#jsonMetaArray
.paneContentW#jsonContentW
  .jsonInspector 
    .inspectorW 
      .inspector         
  #jsonInput 
    .header Convert JSON To JSON-HD
    textarea(placeholder="Input JSON")#jsonTextArea

  script.
    window.JSON_IMPORT = {
      "Customer": {
        "Personal Details":{
          "First Name":{
            "type":"String",
            "description":"The first name of the customer"
          },
          "Last Name":{
            "type":"String",
            "description":"The last name of the customer"
          }
        },
        "Work Details":{
          "Title":{
            "type":"String",
            "description":"The title of the customer at the time of an interaction"
          },
          "Role":{
            "type":"Array",
            "description":"types of roles a customer may have in an interaction"
          }
        }
      }
    }