#jsonMeta 
  input(type="hidden")#jsonMetaInput
#jsonContentW
  #jsonInspector 
    .inspectorW 
      .inspector 
        span BLOCK 1
  #jsonInput 
    textarea(placeholder="Input JSON") 
      | { 
      |     "hello":"world",
      |     "\"foo\"":"bar",
      |     "my_object":{
      |         "my_array": [
      |             1,
      |             null,
      |             {"my_key":"my_value"}
      |         ]
      |     }
      | }