#jsonMeta 
  input(type="hidden")#jsonMetaInput
  input(type="hidden")#jsonMetaArray
.paneContentW#jsonContentW
  .jsonInspector 
    .inspectorW 
      .inspector         
  #jsonInput 
    .header Convert JSON To JSON-HD
    textarea(placeholder="Input JSON")#jsonTextArea

  script.
    window.JSON_IMPORT = {
      "Problems": {
        "@type":"Object",
        "@description":"Problems at any given moment of a person",
        "Health":{
          "@type":"Object",
          "@description":"Relating to physical health of a person",
          "Condition":{
            "@type":"Range",            
            "@description":"How in shape a person is on a scale of 1-5",
            "@range":{
              "1":{
                "@type":"Boolean",
                "@description":"Very bad"
              },
              "2":{
                "@type":"Boolean",
                "@description":"Bad"
              },
              "3":{
                "@type":"Boolean",
                "@description":"Okay"
              },
              "4":{
                "@type":"Boolean",
                "@description":"Good"
              },
              "5":{
                "@type":"Boolean",
                "@description":"Very Good"
              }
            }
          },
          "Medical Issues":{
            "@type":"Object",
            "@description":"Any medical issues",
            "Planetphobia": {
              "@type":"Boolean",
              "@description":"Whether or not a person believes the planet is going to hit by a giant asteroid imminently and are so terrified they are trying to go to Mars with Elon Musk"
            },
            "Social Media Madness": {
              "@type":"Boolean",
              "@description":"Whether a person starts believing social media conspiracies after being on Facebook for too long during Covid quarantine"
            }
          }
        }
      }
    }