#rightPaneW
  #rightPaneMenuW
    #rightPaneMenuC 
      .menu        
        .button(data-state="selected" data-view="array") ARRAY
        .button(data-state="enabled" data-view="object") OBJECT
        .button(data-state="enabled" data-view="object") JSON-HD
  #rightPaneC  
    .rightPane(data-view="input")
    #lineNumBack   
    #jsonEditor
      .lineW(data-selected="true" data-line_num="1")
        .lineIndex 1
        .line(data-indent="0" )
          .field(contenteditable="true" data-type="object" data-focused="false"  data-field_num="0") &nbsp;     
      