.rightPaneW
  //- .rightPaneMenuW
  //-   .rightPaneMenuC 
  //-     .menu        
        //- .button(data-selected="true" data-view="array") ARRAY
        //- .button(data-selected="false" data-view="object") OBJECT
        //- .button(data-selected="false" data-view="object") JSON-HD
        //- .button(data-selected="false" data-view="object") QUERY
  .rightPaneC  
    .rightPane(data-view="input")
    .lineNumBack   
    .jsonEditor
      .paneW(data-view="array" data-selected="true") 
        .pane