#metaW 
  #metaC
    #meta(data-focused="false")
      .name 
        input(placeholder="Table name (ex: Pets)" value="Pets")
      .description 
        input(placeholder="Table name (ex: Animals adopted by humans)" value="Animals adopted by humans")

h4 Label Properties
#tableW
  #tableC 
    #table
      table 
        thead 
          tr 
            th(data-line_num="6" data-field_num="0" data-focused="false" data-type="array" data-col_id="0")#allCells &nbsp; 
            th(data-line_num="10" data-field_num="2" data-focused="false" data-type="key" data-col_id="1").columnNum Species 
            th(data-line_num="18" data-field_num="2" data-focused="false" data-type="key" data-col_id="2").columnNum Barks
            
        tbody 
          tr 
            td(data-focused="false" data-line_num="7", data-field_num="0" data-type="object").rowNum 1
            td(data-focused="false" data-line_num="11", data-field_num="2" data-type="value") Dog
            td(data-focused="false" data-line_num="19", data-field_num="2" data-type="value") true                        

          