body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  max-height: 100%;
  max-width: 100%;
  background-color: white;
  overflow: hidden;
  padding: 0; }

.none {
  display: none; }

.hide {
  opacity: 0; }

.bold {
  font-weight: bold; }

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Black.ttf") format("truetype"), url("/fonts/Roboto-BlackItalic.ttf") format("truetype"), url("/fonts/Roboto-Bold.ttf") format("truetype"), url("/fonts/Roboto-BoldItalic.ttf") format("truetype"), url("/fonts/Roboto-Light.ttf") format("truetype"), url("/fonts/Roboto-LightItalic.ttf") format("truetype"), url("/fonts/Roboto-Medium.ttf") format("truetype"), url("/fonts/Roboto-MediumItalic.ttf") format("truetype"), url("/fonts/Roboto-Regular.ttf") format("truetype"), url("/fonts/Roboto-Thin.ttf") format("truetype"), url("/fonts/Roboto-ThinItalic.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Bold.ttf") format("truetype"), url("/fonts/OpenSans-BoldItalic.ttf") format("truetype"), url("/fonts/OpenSans-Light.ttf") format("truetype"), url("/fonts/OpenSans-LightItalic.ttf") format("truetype"), url("/fonts/OpenSans-Medium.ttf") format("truetype"), url("/fonts/OpenSans-MediumItalic.ttf") format("truetype"), url("/fonts/OpenSans-Regular.ttf") format("truetype"), url("/fonts/OpenSans-Thin.ttf") format("truetype"), url("/fonts/OpenSans-ThinItalic.ttf") format("truetype"); }

* {
  font-family: 'OpenSans', sans-serif;
  box-sizing: border-box; }

#topnavW {
  display: inline-flex;
  align-items: center;
  z-index: 1000;
  position: fixed;
  top: 0px;
  left: 0px;
  padding-left: 30px;
  background-color: white;
  width: 100%;
  height: 50px;
  filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.25)); }
  #topnavW img {
    height: 36px;
    width: 36px; }
  #topnavW #logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 36px;
    background-color: #E42323; }
    #topnavW #logo span.header {
      color: white;
      font-size: 16px;
      font-weight: 400; }
    #topnavW #logo span.subHeader {
      font-size: 14px;
      font-weight: 500;
      color: #555; }

#buttonsW {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 50px;
  align-items: center; }
  #buttonsW #buttonsC {
    display: flex;
    padding-right: 0px; }
    #buttonsW #buttonsC .button {
      margin-left: 10px;
      letter-spacing: 0.5px;
      margin-right: 10px;
      font-size: 14px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      text-decoration: none;
      border-radius: 3px;
      display: flex;
      align-items: center; }
      #buttonsW #buttonsC .button span {
        color: #555; }
      #buttonsW #buttonsC .button i {
        margin-right: 8px;
        color: #555;
        font-size: 20px; }
      #buttonsW #buttonsC .button:hover {
        cursor: pointer; }

#tableW {
  height: 100%;
  width: calc(100% - 450px);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 10vh; }
  #tableW #tableC {
    height: 100%;
    width: 100%; }
    #tableW #tableC table {
      width: 100%;
      border-collapse: collapse; }
      #tableW #tableC table #rowCol {
        background-color: #f5f5f5; }
      #tableW #tableC table .rowNum {
        text-align: center; }
      #tableW #tableC table .rowNum[data-focused="false"] {
        background-color: #f5f5f5; }
      #tableW #tableC table tr, #tableW #tableC table td, #tableW #tableC table th {
        border-collapse: collapse;
        border: 1px solid rgba(0, 0, 0, 0.15);
        padding: 10px; }
      #tableW #tableC table th, #tableW #tableC table td {
        transition: 0.35s; }
        #tableW #tableC table th:hover, #tableW #tableC table td:hover {
          cursor: pointer; }
      #tableW #tableC table th[data-focused="false"] {
        background-color: #f5f5f5; }
      #tableW #tableC table th[data-focused="true"][data-type="key"] {
        background-color: #ffffcd;
        filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.25)); }
      #tableW #tableC table th[data-focused="true"][data-type="array"] {
        background-color: #eecdff;
        filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.25)); }
      #tableW #tableC table td.rowSelected.rowNum {
        background-color: #cdffd5 !important; }
      #tableW #tableC table td.rowSelected {
        background-color: rgba(205, 255, 213, 0.35) !important; }
      #tableW #tableC table td.columnSelected {
        background-color: rgba(255, 255, 205, 0.35) !important; }
      #tableW #tableC table .cellsSelected {
        background-color: rgba(238, 205, 255, 0.35) !important; }
      #tableW #tableC table td[data-focused="false"] {
        background-color: #fff; }
      #tableW #tableC table td[data-focused="true"][data-type="value"] {
        background-color: #cdf9ff;
        filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.25)); }
      #tableW #tableC table td[data-focused="true"][data-type="object"] {
        background-color: #cdffd5;
        filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.25)); }

#metaW {
  height: 64px;
  width: calc(100vw - 500px);
  padding-top: 20px;
  margin-bottom: 10px; }
  #metaW #metaC {
    position: relative;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px; }
    #metaW #metaC #meta {
      transition: 0.3s;
      padding: 10px;
      width: calc(100vw - 450px - 100px); }
      #metaW #metaC #meta .name input {
        outline: 0;
        border: none;
        font-size: 20px;
        width: 100%;
        background-color: transparent; }
      #metaW #metaC #meta .description input {
        outline: 0;
        border: none;
        font-size: 14px;
        width: 100%;
        background-color: transparent; }
    #metaW #metaC #meta[data-focused="true"] {
      background-color: #f5f5f5; }

.paneW[data-selected="false"] {
  opacity: 0;
  display: none; }

.rightPaneW {
  width: 480px;
  height: calc(100vh - 50px);
  position: fixed;
  right: 0px;
  top: 50px;
  z-index: 100; }
  .rightPaneW .rightPaneMenuW {
    border-bottom: 1px solid #777;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-right: 30px;
    background-color: #5a5a5a; }
    .rightPaneW .rightPaneMenuW .rightPaneMenuC {
      padding-left: 10px; }
      .rightPaneW .rightPaneMenuW .rightPaneMenuC .menu {
        width: 100%;
        display: flex; }
        .rightPaneW .rightPaneMenuW .rightPaneMenuC .menu .button {
          letter-spacing: 0.5px; }
        .rightPaneW .rightPaneMenuW .rightPaneMenuC .menu .button[data-state="disabled"] {
          background-color: rgba(255, 255, 255, 0);
          color: #888;
          border-color: #888; }
        .rightPaneW .rightPaneMenuW .rightPaneMenuC .menu .button[data-selected="false"] {
          color: white; }
        .rightPaneW .rightPaneMenuW .rightPaneMenuC .menu .button[data-selected="true"] {
          color: White;
          background-color: #5c7292;
          border-color: rgba(255, 255, 255, 0.5); }
        .rightPaneW .rightPaneMenuW .rightPaneMenuC .menu .button {
          border: 1px solid transparent;
          transition: 0.35s;
          margin-left: 20px;
          font-size: 12px;
          padding-top: 4px;
          padding-bottom: 4px;
          padding-left: 14px;
          padding-right: 14px;
          border-radius: 2px; }
          .rightPaneW .rightPaneMenuW .rightPaneMenuC .menu .button:hover {
            cursor: pointer; }
  .rightPaneW .rightPaneC {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex; }
    .rightPaneW .rightPaneC .lineNumBack {
      height: calc(100vh - 90px);
      position: absolute;
      left: -30px;
      background-color: #5a5a5a;
      width: 30px;
      top: 0px; }
    .rightPaneW .rightPaneC .jsonEditor {
      padding-top: 0px;
      background-color: #353535;
      color: white;
      height: 100%;
      width: 100%; }
      .rightPaneW .rightPaneC .jsonEditor .lineW {
        width: 100%;
        min-height: 30px;
        height: 30px;
        position: relative;
        transition: 0.1s;
        display: flex;
        align-items: center; }
      .rightPaneW .rightPaneC .jsonEditor .lineIndex {
        font-family: monospace;
        height: 100%;
        color: #ccc;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        background-color: #5a5a5a;
        font-weight: bold;
        font-size: 14px;
        width: 30px;
        top: 0px;
        padding-top: 5px; }
      .rightPaneW .rightPaneC .jsonEditor .lineW[data-selected="true"] {
        background-color: rgba(211, 212, 255, 0.3); }
      .rightPaneW .rightPaneC .jsonEditor .line {
        z-index: 100000;
        position: relative;
        padding-left: 5px;
        padding-right: 15px;
        height: 100%;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap; }
        .rightPaneW .rightPaneC .jsonEditor .line .field[data-type="key"][data-focused="true"] {
          background-color: #ffffcd; }
        .rightPaneW .rightPaneC .jsonEditor .line .field[data-type="value"][data-focused="true"] {
          background-color: #cdf9ff; }
        .rightPaneW .rightPaneC .jsonEditor .line .field[data-type="comment"][data-focused="true"] {
          color: #077887;
          background-color: #cdf9ff; }
        .rightPaneW .rightPaneC .jsonEditor .line .field[data-type="comment"][data-focused="false"] {
          color: #cdf9ff; }
        .rightPaneW .rightPaneC .jsonEditor .line .field[data-type="colon"][data-focused="true"] {
          background-color: #f5cdff; }
        .rightPaneW .rightPaneC .jsonEditor .line .field[data-type="object"][data-focused="true"] {
          background-color: #cdffd5; }
        .rightPaneW .rightPaneC .jsonEditor .line .field[data-type="array"][data-focused="true"] {
          background-color: #eecdff; }
        .rightPaneW .rightPaneC .jsonEditor .line .field[data-type="comma"][data-focused="true"] {
          background-color: #cdd3ff; }
        .rightPaneW .rightPaneC .jsonEditor .line .field[data-focused="true"] {
          color: black; }
        .rightPaneW .rightPaneC .jsonEditor .line .field {
          transition: 0.35s;
          font-size: 14px;
          word-break: break-all;
          font-family: monospace;
          color: white;
          border-radius: 2px; }
          .rightPaneW .rightPaneC .jsonEditor .line .field:focus {
            outline: 0; }

#tableFunctionsW {
  width: calc(100vw - 480px);
  display: flex;
  justify-content: flex-end;
  height: 40px;
  align-items: center;
  background-color: #f5f5f5; }
  #tableFunctionsW #tableFunctionsC {
    display: flex;
    padding-right: 30px;
    justify-content: center;
    width: 100%; }
    #tableFunctionsW #tableFunctionsC .tableFunction[data-state="disabled"] {
      border-color: white; }
      #tableFunctionsW #tableFunctionsC .tableFunction[data-state="disabled"] i, #tableFunctionsW #tableFunctionsC .tableFunction[data-state="disabled"] span {
        color: #ccc; }
      #tableFunctionsW #tableFunctionsC .tableFunction[data-state="disabled"]:hover {
        cursor: not-allowed; }
    #tableFunctionsW #tableFunctionsC .tableFunction[data-state="active"] {
      background-color: #555;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 15px;
      padding-right: 15px; }
      #tableFunctionsW #tableFunctionsC .tableFunction[data-state="active"] i, #tableFunctionsW #tableFunctionsC .tableFunction[data-state="active"] span {
        color: white; }
      #tableFunctionsW #tableFunctionsC .tableFunction[data-state="active"]:hover {
        cursor: pointer; }
    #tableFunctionsW #tableFunctionsC .tableFunction[data-state="enabled"] {
      border-color: transparent;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 15px;
      padding-right: 15px; }
      #tableFunctionsW #tableFunctionsC .tableFunction[data-state="enabled"] i, #tableFunctionsW #tableFunctionsC .tableFunction[data-state="enabled"] span {
        color: #333; }
      #tableFunctionsW #tableFunctionsC .tableFunction[data-state="enabled"]:hover {
        cursor: pointer; }
    #tableFunctionsW #tableFunctionsC .tableFunction {
      display: flex;
      align-items: center;
      background-color: transparent;
      transition: 0.35s;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 15px;
      padding-right: 15px;
      border-radius: 0px;
      margin-left: 20px;
      margin-right: 20px;
      font-size: 13px;
      height: 26px;
      border-radius: 2px; }
      #tableFunctionsW #tableFunctionsC .tableFunction i {
        padding-right: 8px; }

#contentW {
  position: fixed;
  top: 50px;
  width: 100%;
  height: calc(100vh - 50px); }

.viewW[data-state="hidden"] {
  display: none;
  opacity: 0; }

#jsonContentW {
  display: flex;
  position: relative;
  width: calc(100% - 480px);
  height: calc(100vh - 90px);
  overflow: overlay; }

#jsonInput {
  width: 300px;
  position: absolute;
  right: 20px;
  top: 0px;
  height: calc(50vh);
  display: flex;
  flex-direction: column;
  align-items: center; }
  #jsonInput .header {
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    display: flex;
    font-size: 14px;
    color: white;
    background-color: #555;
    width: 95%; }
  #jsonInput textarea {
    padding: 14px;
    outline: 0;
    width: 95%;
    height: 100%;
    border: 1px solid #ccc;
    line-height: 20px;
    font-size: 16px;
    resize: none;
    background-color: white; }

.inspectorW {
  margin-top: 30px; }

.blockW {
  width: calc(100vw - 780px);
  display: flex;
  justify-content: center;
  margin-bottom: 50px; }
  .blockW .block {
    width: calc(100% - 100px); }
    .blockW .block .header {
      font-size: 24px;
      font-weight: 300;
      background-color: #f5f5f5;
      width: 100%;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 30px;
      padding-right: 30px; }
    .blockW .block .details {
      padding-top: 10px;
      padding-left: 30px; }
      .blockW .block .details .elem_wrapper {
        padding-bottom: 5px;
        display: flex; }
      .blockW .block .details .elem_label {
        width: 80px;
        color: #777; }
