body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  max-height: 100%;
  max-width: 100%;
  background-color: white;
  overflow: hidden;
  padding: 0; }

.none {
  display: none; }

.hide {
  opacity: 0; }

.bold {
  font-weight: bold; }

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Black.ttf") format("truetype"), url("/fonts/Roboto-BlackItalic.ttf") format("truetype"), url("/fonts/Roboto-Bold.ttf") format("truetype"), url("/fonts/Roboto-BoldItalic.ttf") format("truetype"), url("/fonts/Roboto-Light.ttf") format("truetype"), url("/fonts/Roboto-LightItalic.ttf") format("truetype"), url("/fonts/Roboto-Medium.ttf") format("truetype"), url("/fonts/Roboto-MediumItalic.ttf") format("truetype"), url("/fonts/Roboto-Regular.ttf") format("truetype"), url("/fonts/Roboto-Thin.ttf") format("truetype"), url("/fonts/Roboto-ThinItalic.ttf") format("truetype"); }

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Bold.ttf") format("truetype"), url("/fonts/OpenSans-BoldItalic.ttf") format("truetype"), url("/fonts/OpenSans-Light.ttf") format("truetype"), url("/fonts/OpenSans-LightItalic.ttf") format("truetype"), url("/fonts/OpenSans-Medium.ttf") format("truetype"), url("/fonts/OpenSans-MediumItalic.ttf") format("truetype"), url("/fonts/OpenSans-Regular.ttf") format("truetype"), url("/fonts/OpenSans-Thin.ttf") format("truetype"), url("/fonts/OpenSans-ThinItalic.ttf") format("truetype"); }

* {
  font-family: 'OpenSans', sans-serif;
  box-sizing: border-box; }

#topnavW {
  display: inline-flex;
  align-items: center;
  z-index: 1000;
  position: fixed;
  top: 10px;
  left: 0px;
  padding-left: 50px;
  background-color: white;
  width: 100%;
  height: 70px;
  filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.25)); }
  #topnavW img {
    height: 50px; }
  #topnavW #logo {
    display: flex;
    flex-direction: column;
    width: 60vw;
    padding-left: 20px; }
    #topnavW #logo span.header {
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 5px;
      color: #252525; }
    #topnavW #logo span.subHeader {
      font-size: 14px;
      font-weight: 500;
      color: #555; }

#buttonsW {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 50px;
  align-items: center; }
  #buttonsW #buttonsC {
    display: flex;
    padding-right: 50px; }
    #buttonsW #buttonsC .button {
      margin-left: 10px;
      letter-spacing: 0.5px;
      margin-right: 10px;
      font-size: 14px;
      background-color: #1d84dd;
      color: white;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      text-decoration: none;
      border-radius: 3px;
      display: flex;
      align-items: center; }
      #buttonsW #buttonsC .button i {
        margin-right: 8px;
        font-size: 16px; }
      #buttonsW #buttonsC .button:hover {
        cursor: pointer; }

#tableW {
  height: 100%;
  width: calc(100% - 450px);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 10vh; }
  #tableW #tableC {
    height: 100%;
    width: 100%; }
    #tableW #tableC table {
      width: 100%;
      border-collapse: collapse; }
      #tableW #tableC table tr, #tableW #tableC table td, #tableW #tableC table th {
        border-collapse: collapse;
        border: 1px solid rgba(0, 0, 0, 0.15);
        padding: 10px; }
      #tableW #tableC table th {
        background-color: #f5f5f5; }

#metaW {
  height: 64px;
  width: 100%;
  padding-top: 30px; }
  #metaW #metaC {
    padding-left: 50px;
    padding-right: 50px; }
    #metaW #metaC .name {
      font-weight: 600;
      font-size: 18px;
      color: #222; }
    #metaW #metaC .description {
      color: #333;
      font-weight: 400;
      font-size: 14px; }

#rightPaneW {
  width: 450px;
  height: calc(100vh - 80px);
  position: fixed;
  right: 0px;
  top: 80px;
  z-index: 100; }
  #rightPaneW #rightPaneC {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex; }
    #rightPaneW #rightPaneC #lineIndex {
      padding-top: 0px;
      height: 100%;
      background-color: #666;
      color: white;
      width: 40px;
      display: flex;
      flex-direction: column; }
      #rightPaneW #rightPaneC #lineIndex .line {
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center; }
        #rightPaneW #rightPaneC #lineIndex .line span {
          font-size: 16px;
          font-family: monospace; }
    #rightPaneW #rightPaneC #jsonEditor {
      padding-top: 0px;
      background-color: #353535;
      color: white;
      height: 100%;
      width: 100%; }
      #rightPaneW #rightPaneC #jsonEditor .lineW {
        width: 100%;
        height: 30px;
        transition: 0.1s; }
      #rightPaneW #rightPaneC #jsonEditor .lineW[data-selected="true"] {
        background-color: rgba(211, 212, 255, 0.3); }
      #rightPaneW #rightPaneC #jsonEditor .line {
        z-index: 100000;
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start; }
        #rightPaneW #rightPaneC #jsonEditor .line .field[data-type="key"]:focus {
          background-color: #ffffcd; }
        #rightPaneW #rightPaneC #jsonEditor .line .field[data-type="value"]:focus {
          background-color: #cdf9ff; }
        #rightPaneW #rightPaneC #jsonEditor .line .field[data-type="colon"]:focus {
          background-color: #ffcdcd; }
        #rightPaneW #rightPaneC #jsonEditor .line .field[data-type="bracket"]:focus {
          background-color: #cdffd5; }
        #rightPaneW #rightPaneC #jsonEditor .line .field {
          transition: 0.35s;
          font-size: 16px;
          font-family: monospace;
          color: white;
          border-radius: 2px; }
          #rightPaneW #rightPaneC #jsonEditor .line .field:focus {
            outline: 0;
            color: black; }

#contentW {
  position: fixed;
  top: 80px;
  width: 100%;
  height: calc(100vh - 80px); }
